APP_NAME=spring-boot-starter-0
DB_URL=jdbc:mysql://localhost:3306/app_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true
DB_USERNAME=app_user
DB_PASSWORD=change_me
JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect
APP_PAGE_SIZE=10
FLYWAY_USER=root
FLYWAY_PASSWORD=change_me
APP_SEED_ENABLED=true
JWT_SECRET=wKJRHJ1midM36unENBgRntEfHjPTgFV8Q77VzK2neFrEOHrjX/Ry6GZLHRMK+09N
JWT_ACCESS_TOKEN_EXPIRATION=7200
JWT_REFRESH_TOKEN_EXPIRATION=604800
STRIPE_SECRET_KEY=Your_Stripe_Secret_Key_Here
WEBSITE_URL=http://localhost:4200